@tailwind base;

/* Global Styles */
html {
  @apply bg-theme-color-body-bg leading-none text-black cursor-default;
}

body {
  @apply font-sans antialiased text-body-3 font-light overflow-x-hidden min-w-[320px];
}

html,
body,
#transition-wrapper {
  height: 100%;
}

/* Focus Outline */

/* Disable focus outline when focus comes from mouse/touch interactions */
:focus:not(:focus-visible) {
  @apply outline-none;
}

/* Custom style for keyboard interaction focus */
:focus-visible {
  @apply outline-none ring-4 ring-theme-color-focus-outline; /* TODO: Temp, replace with better style */
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar utility */

  /* Chrome, Safari and Opera */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Other utilities */

  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }
}
