:root {
  --header-height: 9.6rem;

  --container-max-width: calc(76.8rem + var(--container-side-spacing) * 2);
  --container-side-spacing: 28px;
  --container-root-top-spacing: var(--header-height);

  --container-width: calc((min(100vw, var(--container-max-width))));
}

@media screen(lg) {
  :root {
    --header-height: initial;
    --container-root-top-spacing: 128px;
  }
}
